/* http://colorschemedesigner.com/#4U31TaqppgVDe */
body {
	color: #222;
	font-family: Helvetica, sans-serif;
	background-color: #6E9449;
}

h1,h2 {
	margin: 0;
}

h1 {
	text-shadow: 1px 1px 0px #68366C;
}

h2 {
	color: #815A84;
	text-shadow: 1px 1px 0px #68366C;
}

input[type="text"] {
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	background: none repeat scroll 0 0 #E8EBE8;
	border: 2px solid #AAAAAA;
	color: #575757;
}

input[type="submit"] {
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px;
	box-shadow: 1px 1px 12px #555555;
	-moz-box-shadow: 1px 1px 12px #555555;
	-webkit-box-shadow: 1px 1px 12px #555555;
	background: #815A84;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #815A84),
		color-stop(1, #a67ba9) );
	background-image: -moz-linear-gradient(center bottom, #815A84 20%, #a67ba9 100%);
	border: 1px solid #E0E0E0;
	color: #FFFFFF;
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

#header {
	background-color: #97B67B;
	border-bottom: 4px solid #CFB4D1;
	color: #EBE8CA;
	font-variant: small-caps;
}

#body {
	background-color: white;
	position: relative;
	padding-top: 10px;
}

#header img {
	border: 2px solid white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: §px;
}

#footer {
	border-top: 4px solid #CFB4D1;
	background-color: #6E9449;
	color: #EBE8CA
}

/* Sites list*/
#sites {
	
}

#sites form {
	display: inline;
}
)
/* End of Sites list */